<!-- <div class="custom-select">
  <label for="dropdown" class="parameter-title">Статус ЦИ</label>
  <div class="dropown-input" (click)="toggleDropdown()">
    <input class="dropdown-search-input normal" formControlName="IsIdentCenter"/>
    <i class="material-icons dropdown-icon" [class.rotated]="showOptions">expand_more</i>
    <i class="material-icons dropdown-close-icon" *ngIf="selectedOption" (click)="clearSelection()">close</i>
  </div>
  <div class="dropdown-custom-options" *ngIf="showOptions">
    <div class="dropdown-options-wrapper">
      <span *ngFor="let option of options" class="dropdown-option" (click)="selectOption(option)">
        {{ option }}
        <i class="material-icons done-icon" *ngIf="option === selectedOption">done</i>
      </span>
    </div>
  </div>
</div> -->
