// * {
//   border: 1px solid red;
// }

@import '~@angular/cdk/overlay-prebuilt.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100%;
}

.custom-overlay-class {
  /* Add your custom styles here */
  background-color: #ffffff;
  color: white;
  border-radius: 8px 0px 0px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  /* More styles as per your requirement */
}


app-request-detail {
  display: flex;
  flex: 1 1 auto;
}


